.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    margin: 0.1%;
    // border: 1px double black;
    justify-content: space-evenly;
    background-color: transparent;
}