.Navbar{
    padding: 3%;
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    &__search{
      background: transparent;
      margin: 0 5% 0 5%;
    }
  }