.main{
    background: transparent;
}
.pagedetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5% 0% 5%;
    &__arrows{
        margin: 0% 5% 0% 0%;
    }
    &--end{
        display: flex;
        justify-content: end;
        padding: 0% 5% 0% 0%;
    }
    
}